/* Resetting styles for all elements */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair+Display:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.city_stay {
    font-family: "Nunito Sans";
}

.About_us {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.Sub_heading {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    color: rgb(51 51 51 / 86%);
}

.Flight-Deals {
    font-family: "Nunito Sans";
    margin-top: 9%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.icon_shape {
    border: 1px solid #fcb32a;
    border-radius: 50px;
    color: #fcb32a;
}

.deal-card {
    background-color: #fff;
    border-radius: 8px;
    width: 360px;
    height: auto;
    box-shadow: 0px 0px 10px 4px #ccc;
    transition: transform 0.3s ease-in-out;
}

.place-card {
    margin: 0;
    /* background-color: #fff; */
    border-radius: 8px;
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 10px 4px #ccc;
    transition: transform 0.3s ease-in-out;
}

.deal-card2 {
    margin-top: 25px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 4px #ccc;
    transition: transform 0.3s ease-in-out;
}

.card-Image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-Image-2 {
    border-radius: 8px;
    width: 300px;
    height: 250px;
}

.Image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card-Detail {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.card-Name,
.card-Price {
    font-weight: 600;
    color: #b83968;
}

.card-Place {
    margin: 0;
    font-size: 15px;
    color: #6b6969;
}

.cities_list {
    margin: 0;
    font-size: 15px;
    color: #6b6969;
    padding-top: 1rem;
    font-weight: bold;
}

.Explore-City {
    font-family: "Nunito Sans";
    margin-top: 9%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.Explore-more-stays {
    background-image: linear-gradient(to right, #ee2149, #752265);
    margin-top: 1rem;
}

.Explore-more-stays:hover {
    background-image: linear-gradient(to right, rgba(238, 33, 74, 0.957), rgba(117, 34, 100, 0.874));
}

.make_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.About_us_detail,
.Flight-Deals_detail,
.Explore-City_detail {
    width: 50%;
}

.About_us_Image,
.Flight-Deals_Image_container,
.Explore-City_Image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about_1,
.about_2,
.Flight-Deals_Image,
.Explore-City_Image {
    width: 18rem;
}

.Flight-Deals_Image1,
.Flight-Deals_Image4{
    width: 20rem;
    height: 22rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.Flight-Deals_Image2,
.Flight-Deals_Image3,
.Explore-City_Image1 {
    width: 20rem;
    height: 16rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.Explore-City_Image1 {
    margin-bottom: 0rem;
}

.serve_item_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 0.75rem;
}

.serve_item {
    margin-bottom: 3rem
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .city_stay {
        padding: 20px;
    }

    .About_us,
    .Flight-Deals,
    .Explore-City {
        flex-direction: column;
    }

    .About_us_Image,
    .Flight-Deals_Image_container,
    .Explore-City_Image_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        /* margin-top: 1.5rem; */
    }

    .About_us_detail,
    .Flight-Deals_detail,
    .Explore-City_detail {
        width: 100%;
    }

    .Explore-City_detail {
        margin-top: 1rem;
    }

    .About_us_Image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        margin-top: 1.5rem;
    }

    .About_label,
    .Serve_label,
    .Explore-City_label {
        font-size: small;
    }

    .cities_list {
        font-size: 10px;
    }

    .Sub_heading {
        font-size: larger;
        line-height: normal;
    }

    .para_1,
    .para_2,
    .card-Place {
        font-size: 11px;
    }

    .card-Place {
        margin-top: 0.5rem !important;
    }

    .about_1,
    .about_2,
    .Flight-Deals_Image,
    .Explore-City_Image {
        width: 9.5rem;
        margin-bottom: 1rem !important;
    }

    .Explore-City_Image {
        margin-bottom: 0rem !important;
    }

    .Flight-Deals_Image1,
    .Flight-Deals_Image4 {
    height: 12rem;
    margin-bottom: 0;
    }

    .Flight-Deals_Image2,
    .Flight-Deals_Image3,.Explore-City_Image1 {
        height: 10.5rem;
        margin-bottom: 0;
    }

    .Explore-City_Image1 {
        margin-bottom: 0rem;
    }

    .serve_icon {
        width: 18px;
        height: 20px;
        padding: 3px !important;
    }

    .sub_serve_label,
    .card-Name {
        font-size: smaller;
    }

    .serve_item_label {
        gap: 0.49rem !important;
    }

    .Explore-more-stays {
        width: 5rem !important;
        height: 2rem !important;
        font-size: smaller;
    }

    .serve_item_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        padding-top: 0.75rem;
    }

    .serve_item {
        margin-bottom: 1rem
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .city_stay {
        padding: 20px;
    }

    .About_us,
    .Flight-Deals,
    .Explore-City {
        align-items: center;
    }

    .About_us_detail,
    .Flight-Deals_detail,
    .Explore-City_detail {
        width: 50%;
    }

    .About_us_Image,
    .Flight-Deals_Image_container,
    .Explore-City_Image_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        /* margin-top: 1.5rem; */
    }

    .About_label,
    .Serve_label,
    .Explore-City_label {
        font-size: small;
    }

    .cities_list {
        font-size: 10px;
    }

    .Sub_heading {
        font-size: larger;
        line-height: normal;
    }

    .para_1,
    .para_2,
    .card-Place {
        font-size: x-small;
    }

    .card-Place {
        margin-top: 0.5rem !important;
    }

    /* .about_1,
    .about_2,
    .Flight-Deals_Image,
    .Explore-City_Image {
        width: 8.5rem;
    }

    .Flight-Deals_Image1,
    .Flight-Deals_Image4 {
        width: 20rem;
        height: 12rem;
        border-radius: 6px;
        margin-bottom: 0.75rem;
        ;
    }

    .Flight-Deals_Image2,
    .Flight-Deals_Image3,
    .Explore-City_Image1 {
        width: 20rem;
        height: 10rem;
        border-radius: 6px;
        margin-bottom: 0.75rem;
    } */
        .about_1,
        .about_2,
        .Flight-Deals_Image,
        .Explore-City_Image {
            width: 8.5rem;
            margin-bottom: 1rem !important;
        }
    
        .Explore-City_Image1 {
            height: 14rem;
        }
    
        .Flight-Deals_Image1,
        .Flight-Deals_Image4 {
            height: 12rem;
            margin-bottom: 0;
        }
    
        .Flight-Deals_Image2,
        .Flight-Deals_Image3,
        .Explore-City_Image1 {
            height: 10.5rem;
            margin-bottom: 0;
            
        }

    .Explore-City_Image {
        margin-bottom: 0rem !important;
    }

    .serve_icon {
        width: 18px;
        height: 20px;
        padding: 3px !important;
    }

    .sub_serve_label,
    .card-Name {
        font-size: 11px;
    }

    .serve_item_label {
        gap: 0.49rem !important;
    }

    .Explore-more-stays {
        width: 5rem !important;
        height: 2rem !important;
    }

    .serve_item_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        padding-top: 0.75rem;
    }

    .serve_item {
        margin-bottom: 1rem
    }
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .city_stay {
        padding: 20px;
    }

    .About_us,
    .Flight-Deals,
    .Explore-City {
        align-items: center;
    }

    .About_us_detail,
    .Flight-Deals_detail,
    .Explore-City_detail {
        width: 50%;
    }

    .About_us_Image,
    .Flight-Deals_Image_container,
    .Explore-City_Image_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        /* margin-top: 1.5rem; */
    }

    .About_label,
    .Serve_label,
    .Explore-City_label {
        font-size: 15px;
    }

    .cities_list {
        font-size: 10px;
    }

    .Sub_heading {
        font-size: 20px;
        line-height: normal;
    }

    .para_1,
    .para_2,
    .card-Place {
        font-size: 12px;
    }

    .card-Place {
        margin-top: 0.5rem !important;
    }

    .about_1,
    .about_2,
    .Flight-Deals_Image,
    .Explore-City_Image {
        width: 10rem;
        margin-bottom: 1rem !important;
    }

    .Flight-Deals_Image1,
    .Flight-Deals_Image4 {
        width: 20rem;
        height: 14.5rem;
        border-radius: 6px;
        margin-bottom: 0;
    }

    .Flight-Deals_Image2,
    .Flight-Deals_Image3,
    .Explore-City_Image1 {
        width: 20rem;
        height: 12rem;
        border-radius: 6px;
        margin-bottom: 0;
    }

        .Explore-City_Image {
            margin-bottom: 0rem !important;
        }

    .serve_icon {
        width: 18px;
        height: 20px;
        padding: 3px !important;
    }

    .sub_serve_label,
    .card-Name {
        font-size: 11px;
    }

    .serve_item_label {
        gap: 0.49rem !important;
    }

    .Explore-more-stays {
        width: 5rem !important;
        height: 2rem !important;
    }

    .serve_item_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        padding-top: 0.75rem;
    }

    .serve_item {
        margin-bottom: 1rem
    }
}

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .city_stay {
        padding: 20px;
    }

    .About_us,
    .Flight-Deals,
    .Explore-City {
        align-items: center;
    }

    .About_us_detail,
    .Flight-Deals_detail,
    .Explore-City_detail {
        width: 50%;
    }

    .About_us_Image,
    .Flight-Deals_Image_container,
    .Explore-City_Image_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        /* margin-top: 1.5rem; */
    }

    .Sub_heading {
        font-size: 31px;
        line-height: normal;
    }

    .card-Place {
        margin-top: 0.5rem !important;
    }

    .about_1,
    .about_2,
    .Flight-Deals_Image,
    .Explore-City_Image {
        width: 14rem;
    }

    .Explore-City_Image1 {
        height: 14rem;
    }

    .Flight-Deals_Image1,
    .Flight-Deals_Image4 {
        height: 18rem;
    }

    .serve_icon {
        width: 2.5rem;
        height: 2.5rem;
        padding: 8px !important;
    }

    .sub_serve_label,
    .card-Name {
        font-size: larger;
    }

    .serve_item_label {
        gap: 0.49rem !important;
    }


    .serve_item_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        padding-top: 0.75rem;
    }

    .serve_item {
        margin-bottom: 1rem
    }
}

/* Extra-large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (min-width: 1201px) {
    .Hamburger {
        display: none;
    }
}