.Fliterpanel_desktop {
    width: 330px;
}

.Fliter_Container {
    border: 1px solid #cccc;
    border-radius: 8px;
    height: auto;
    padding: 30px 17px;
    box-shadow: 0px 0px 8px 1px #cccccc8a;
}

.Fliter_Departure_Stop_label,
.Fliter_Departure_Time_label,
.Fliter_Airline_label {
    font-weight: 900;
    color: #55575b;
    font-size: large;
}

.Stop_NonStop {
    align-items: center;
    display: grid;
    grid-template-columns: 20px 80px;
    height: 100px;
    margin-top: 8px;
}

.Fliter_Departure_Time_container,
.Fliter_Airline_container {
    margin-top: 20px;
}

.Fliter_Depature_Times {
    display: grid;
    grid-template-columns: repeat(4, 63px);
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.Departure_Time.activeItem {
    background-color: rgb(252 179 42 / 61%) !important;
}

.Departure_Time {
    padding: 9px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Departure_Time:hover {
    background-color: #004cff1a;
    transition: 0.3s ease-in-out;
}

.time {
    font-size: 7px;
    font-weight: 700;
}

.airlinelogosmall {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.filterAirline {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.check_box {
    width: 100%;
    height: 18px;
    accent-color: #fcb32a;
}

.checkbox_label {
    font-weight: 900;
    color: #55575b;
    margin-left: 10px;
}

.Airline {
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 30px 40px 134px 58px;
    height: 40px;
}

.checkbox {
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 43px 134px 58px;
    height: 40px;
}

.Airline_name {
    color: #27273fab;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.Airline_avg_price {
    color: #27273f87;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
    .Fliterpanel_moblie {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    .Fliterpanel_desktop {
        display: none;
    }

    .Fliterpanel {
        animation: fadeInDown 0.3s ease-in-out;
        background: #fff;
        position: absolute;
        width: 100%;
        height: auto;
        top: 19rem;
        right: 0;
        z-index: 1;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
        padding: 1.2rem;
    }

    .Fliter_Departure_Stop_label,
    .Fliter_Departure_Time_label,
    .Fliter_Airline_label {
        font-weight: 900;
        color: #55575b;
        font-size: smaller;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translateY(0, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translateY(0, 0, 10%);
        }
    }

    .Fliter_Container {
        box-shadow: none;
        padding: 17px;
    }

    .check_box {
        width: 80%;
        height: 16px;
    }

    .checkbox_label {
        margin-left: 6px;
        font-size: small;
    }

    .Fliter_Depature_Times {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .Departure_Time {
        height: 65px;
    }

    .time {
        font-size: 6.5px;
        font-weight: 700;
    }

    .Airline {
        grid-template-columns: 30px 60px 110px 58px;
    }

    .Airline_name,
    .Airline_avg_price {
        font-size: small;
    }

    .Stop_NonStop {
        height: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .Fliterpanel_moblie {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    .Fliterpanel_desktop {
        display: none;
    }

    .Fliterpanel {
        animation: fadeInDown 0.3s ease-in-out;
        background: #fff;
        position: absolute;
        width: 65%;
        height: auto;
        top: 14rem;
        left: 9px;
        z-index: 1;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
        padding: 1.2rem;
    }

    .Fliter_Departure_Stop_label,
    .Fliter_Departure_Time_label,
    .Fliter_Airline_label {
        font-weight: 900;
        color: #55575b;
        font-size: smaller;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translateY(0, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translateY(0, 0, 10%);
        }
    }

    .Fliter_Container {
        box-shadow: none;
        padding: 17px;
    }

    .check_box {
        width: 80%;
        height: 16px;
    }

    .checkbox_label {
        margin-left: 6px;
        font-size: small;
    }

    .Fliter_Depature_Times {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .Departure_Time {
        height: 65px;
    }

    .time {
        font-size: 6.5px;
        font-weight: 700;
    }

    .Airline {
        grid-template-columns: 30px 60px 110px 58px;
    }

    .Airline_name,
    .Airline_avg_price {
        font-size: small;
    }

    .Stop_NonStop {
        height: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .Fliterpanel_moblie {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    .Fliterpanel_desktop {
        display: none;
    }

    .Fliterpanel {
        animation: fadeInDown 0.3s ease-in-out;
        background: #fff;
        position: absolute;
        width: 50%;
        height: auto;
        top: 14rem;
        left: 9px;
        z-index: 1;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
        padding: 1.2rem;
    }

    .Fliter_Departure_Stop_label,
    .Fliter_Departure_Time_label,
    .Fliter_Airline_label {
        font-weight: 900;
        color: #55575b;
        font-size: smaller;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translateY(0, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translateY(0, 0, 10%);
        }
    }

    .Fliter_Container {
        box-shadow: none;
        padding: 17px;
    }

    .check_box {
        width: 80%;
        height: 16px;
    }

    .checkbox_label {
        margin-left: 6px;
        font-size: small;
    }

    .Fliter_Depature_Times {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .Departure_Time {
        height: 65px;
    }

    .time {
        font-size: 6.5px;
        font-weight: 700;
    }

    .Airline {
        grid-template-columns: 30px 60px 110px 58px;
    }

    .Airline_name,
    .Airline_avg_price {
        font-size: small;
    }

    .Stop_NonStop {
        height: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .Fliterpanel_moblie {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    .Fliterpanel_desktop {
        display: none;
    }

    .Fliterpanel {
        animation: fadeInDown 0.3s ease-in-out;
        background: #fff;
        position: absolute;
        width: 40%;
        height: auto;
        top: 14rem;
        left: 9px;
        z-index: 1;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
        padding: 1.2rem;
    }

    .Fliter_Departure_Stop_label,
    .Fliter_Departure_Time_label,
    .Fliter_Airline_label {
        font-weight: 900;
        color: #55575b;
        font-size: smaller;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translateY(0, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translateY(0, 0, 10%);
        }
    }

    .Fliter_Container {
        box-shadow: none;
        padding: 17px;
    }

    .check_box {
        width: 80%;
        height: 16px;
    }

    .checkbox_label {
        margin-left: 6px;
        font-size: small;
    }

    .Fliter_Depature_Times {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .Departure_Time {
        height: 65px;
    }

    .time {
        font-size: 6.5px;
        font-weight: 700;
    }

    .Airline {
        grid-template-columns: 30px 60px 110px 58px;
    }

    .Airline_name,
    .Airline_avg_price {
        font-size: small;
    }

    .Stop_NonStop {
        height: 100px;
    }
}

/* Extra-large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (min-width: 1201px) {
    .Fliterpanel_moblie {
        display: none;
    }
}